.test1{
    background-color:black;
    color: white;
    width: 1257px;
    
}


.t1{
    background-color: grey;
    color: white;
    width: 1257px
}
.t2{
    background-color: grey;
    color: white;
    
 

}
.t3{
    background-color: grey;
    color: white;
    
}
.t4{
    background-color: grey;
    color: white;
}


    
    
   